*{
    padding: 0;
    margin: 0;
}

.box {
    background-color: aqua;
}

.box1{
    color: yellow;
    padding: 10px;
    margin: 25px;
    border: 2px solid green;
    height: 200px;

    
}

.box2{
    color: red;
    color: yellow;
    padding: 10px;
    margin: 25px;
    border: 2px solid black;
    height: 200px;
}